In [1]:
5 * 2

10

In [2]:
5 + 7

12

In [3]:
5 - 2

3

In [5]:
5 % 2

1

In [4]:
5 // 2

2

### 산술 연산자
- '+' : 더하기
- '-' : 빼기
- '*' : 곱하기
- '/' : 나누기
- '%' : 나머지
- '//' : 몫 구하기
- '**' : 거듭제곱

### 비교 연산자
- '>' : 크다
- '>=' : 크거나 같다
- '<' : 작다
- '<=' : 작거나 같다 
- '==' : 같다
- '!=' : 다르다

In [6]:
5 > 2

True

In [7]:
5 >= 2

True

In [8]:
5 < 2

False

### 논리 연산자
- and: 논리 곱
- or : 논리 합
- not : 논리 부정

In [9]:
True and True

True

In [10]:
(5 > 2) and (5 <= 2)

False

In [11]:
True or False

True

In [12]:
(5 > 2) or (5 <= 2)

True

In [13]:
not True

False

In [14]:
not (5 <= 2)

True

### 변수
데이터를 저장하는 공간
파이썬에서는 변수의 특정 데이터 타입이 존재하지 않음
즉, 하나의 변수에 여러 데이터 타입을 할당할 수 있음

In [15]:
variable = 10
variable

10

In [16]:
variable = True
variable

True

In [17]:
variable = 10.0
variable

10.0

In [18]:
# variable = 0.13
variable = .13
variable

0.13

### 데이터타입
- 정수형
- 실수형
- 문자열
- 논리형

In [19]:
type(10)

int

In [20]:
type(10.0)

float

In [21]:
type(True)

bool

In [22]:
type('문자열')

str

### 데이터 타입 변환
- int() : 특정 데이터를 정수형으로 변환
- float() : 특정 데이터를 실수형으로 변환
- bool() : 특정 데이터를 논리형으로 변환
- str() : 특정 데이터를 문자열으로 변환

In [23]:
int(10.34)

10

In [24]:
int(True)

1

In [25]:
int(False)

0

In [26]:
int(10)

10

In [28]:
int('10.4')

ValueError: invalid literal for int() with base 10: '10.4'

In [27]:
float(10)

10.0

In [29]:
float(True)

1.0

In [30]:
float(False)

0.0

In [31]:
float('10')

10.0

In [32]:
float('a')

ValueError: could not convert string to float: 'a'

In [33]:
bool(10)

True

In [35]:
bool('')

False

In [36]:
str(True)

'True'

In [37]:
str(10)

'10'

### NaN, Inf
- NaN(Not a Number) : 숫자가 아님을 나타냄
- Inf(Infinity) : 무한대

In [38]:
float('NaN')

nan

In [39]:
float('Inf')

inf

In [40]:
float('-Inf')

-inf

### 대입 연산자
- '=' : 좌항에 우항을 대입
- '+=' : 좌항에 좌항값에 우항을 더한 값을 대입
- '-=' : 좌항에 좌항값에 우항을 뺀 값을 대입
- '*=' : 좌항에 좌항값에 우항을 곱한 값을 대입
- '/=' : 좌항에 좌항값에 우항을 나눈 값을 대입
- '**=' : 좌항에 좌항값에 우항을 거듭제곱한 값을 대입
- '//=' : 좌항에 좌항값에 우항을 나눈몫 값을 대입

### 파이썬은 증감연산자가 존재하지 않음
증감을 표현하고 싶으면  
변수 += 1, 변수 -= 1

In [41]:
variable = 10

In [42]:
variable += 3
variable

13

In [43]:
variable *= 3
variable

39

In [44]:
variable //= 3
variable

13

### 문자열

- 출력 : print() 함수로 문자열 출력
- 문자열 연산 : + 연결, * 반복
- 타 데이터 타입과 연결 : 반드시 타 데이터 타입을 str() 형변환 함수로 변형 후 연결해야 함
- 문자열 : '혹은 " 로 묶어서 표현, 
- 여러줄의 문자열 : '''혹은 """로 표현
- 문자열 치환 : .replace() 문자열 메서드로 특정 문자열을 변경 가능
- f문자열 : 문자열 앞에 f라는 키워드를 붙여서 문자열의 포멧을 만들어 사용 가능

In [45]:
print('문자열')

문자열

In [46]:
string1 = '문자열1'
print(string1)
string2 = '문자열2'
print(string2)

문자열1
문자열2

In [47]:
string1 + string2

'문자열1문자열2'

In [50]:
string1 * 5

'문자열1문자열1문자열1문자열1문자열1'

In [52]:
integer = 10

In [54]:
string1 + str(integer) + string2

'문자열110문자열2'

In [55]:
print('안녕하세요\n반갑습니다')

안녕하세요
반갑습니다

In [56]:
statement = '''안녕하세요
반갑습니다'''

print(statement)

안녕하세요
반갑습니다

In [2]:
name = '이성계'
age = 56

print(str(name) + '의 나이는 ' + str(age) + '입니다.')
print(f'{name}의 나이는 {age}입니다.')

이성계의 나이는 56입니다.
이성계의 나이는 56입니다.

In [3]:
f'{'abcd':>20}'

'                abcd'

In [4]:
f'{'abcd':0<20}'

'abcd0000000000000000'

In [5]:
f'{'abcd':0>20}'

'0000000000000000abcd'

In [8]:
f'{2345:0>20,}'

'0000000000000002,345'

### 조건문
#### if문
'''python
if 조건 논리표현식:
    조건이 참일때 실행할 구문
'''

In [9]:
number = 1234

### else 문
'''python
if 조건 논리 표현식:
    조건이 참일때 실행할 구문
else:
    조건이 거짓일때 실행할 구문
'''

In [10]:
if(number % 2 == 0) :
    print('짝수')
# else를 걱정할 때는 들여쓰기를 if 문의 들여쓰기와 일치해야함
else:
    print('홀수')

짝수

In [ ]:
if(number % 3 == 0')
    print(3의 배수입니다.)
else:

### 죄수의 딜레마
용의자 (A,B)이 체포됨
심문 중 자백 및 침묵을 권유받음
1. 둘중 하나만 자배글 하게되면 자백한 사람은 즉시 풀려나고 침묵한 사라믄 10년형
2. 둘 다 자백을 하면 모두 5년형
3. 둘 다 침묵을 하면 모두 1년형
이때 죄수의 선택을 나타내는 변수 XA, XB와 죄수의 복역 연수를 나타내는 변수 YA,YB라 할때
XA, XB입력을 받고 YA,YB를 'A'의 복역 연수 : 10, B의 복역연수 : 0' 형태로 출력하시오

In [ ]:
#자백 : True, 침묵 : false
XA = bool(input(''))

In [11]:
XA = input('A의 선택은?')
XA

''

In [28]:
# 자백 : True, 침묵 : false
XA = bool(input('A의 선택은?'))
XB = bool(input('B의 선택은?'))

(YA, YB) = (0, 0)
if (XA and XB):
    YA = 5
    YB = 5
elif (XA and not XB):
    YA = 0
    YB = 10
elif (not XA and XB):
    YA = 10
    YB = 0
else:
    YA = 1
    YB = 1

print(f'A의 복역 연수 : {YA}, B의 복역 연수 : {YB}')

A의 복역 연수 : 5, B의 복역 연수 : 5

### 반복문
'''python
for 변수 in range(반복횟수):
    반복할 구문
'''

-range(정수) : 0부터 매개변수로 전달할 정수 -1까지의 정수 리스트를 반환
-range(시작정수, 종료정수) : 시작 정수부터 종료 정수 -1까지의 정수 리스트를 반환
-range(시작정수, 종료정수, 차이정수) : 시작 정수부터 종료 정수 -1까지의 정수리스트를 반환 차이 정수 만큼인 리스트 반환

In [25]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [14]:
list(range(5, 10, 2))

[5, 7, 9]

In [15]:
list(range(10, 1, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [16]:
for item in range(10):
    print(item)

0
1
2
3
4
5
6
7
8
9

In [17]:
for item in range(10, 0, -1):
    print(item)

10
9
8
7
6
5
4
3
2
1

In [18]:
for item1 in range(10):
    for item2 in range(10):
        print(f'item1 : {item1} / item2 : {item2}')

item1 : 0 / item2 : 0
item1 : 0 / item2 : 1
item1 : 0 / item2 : 2
item1 : 0 / item2 : 3
item1 : 0 / item2 : 4
item1 : 0 / item2 : 5
item1 : 0 / item2 : 6
item1 : 0 / item2 : 7
item1 : 0 / item2 : 8
item1 : 0 / item2 : 9
item1 : 1 / item2 : 0
item1 : 1 / item2 : 1
item1 : 1 / item2 : 2
item1 : 1 / item2 : 3
item1 : 1 / item2 : 4
item1 : 1 / item2 : 5
item1 : 1 / item2 : 6
item1 : 1 / item2 : 7
item1 : 1 / item2 : 8
item1 : 1 / item2 : 9
item1 : 2 / item2 : 0
item1 : 2 / item2 : 1
item1 : 2 / item2 : 2
item1 : 2 / item2 : 3
item1 : 2 / item2 : 4
item1 : 2 / item2 : 5
item1 : 2 / item2 : 6
item1 : 2 / item2 : 7
item1 : 2 / item2 : 8
item1 : 2 / item2 : 9
item1 : 3 / item2 : 0
item1 : 3 / item2 : 1
item1 : 3 / item2 : 2
item1 : 3 / item2 : 3
item1 : 3 / item2 : 4
item1 : 3 / item2 : 5
item1 : 3 / item2 : 6
item1 : 3 / item2 : 7
item1 : 3 / item2 : 8
item1 : 3 / item2 : 9
item1 : 4 / item2 : 0
item1 : 4 / item2 : 1
item1 : 4 / item2 : 2
item1 : 4 / item2 : 3
item1 : 4 / item2 : 4
item1 : 4 / item2 : 5
item1 : 4 / item2 : 6
item1 : 4 / item2 : 7
item1 : 4 / item2 : 8
item1 : 4 / item2 : 9
item1 : 5 / item2 : 0
item1 : 5 / item2 : 1
item1 : 5 / item2 : 2
item1 : 5 / item2 : 3
item1 : 5 / item2 : 4
item1 : 5 / item2 : 5
item1 : 5 / item2 : 6
item1 : 5 / item2 : 7
item1 : 5 / item2 : 8
item1 : 5 / item2 : 9
item1 : 6 / item2 : 0
item1 : 6 / item2 : 1
item1 : 6 / item2 : 2
item1 : 6 / item2 : 3
item1 : 6 / item2 : 4
item1 : 6 / item2 : 5
item1 : 6 / item2 : 6
item1 : 6 / item2 : 7
item1 : 6 / item2 : 8
item1 : 6 / item2 : 9
item1 : 7 / item2 : 0
item1 : 7 / item2 : 1
item1 : 7 / item2 : 2
item1 : 7 / item2 : 3
item1 : 7 / item2 : 4
item1 : 7 / item2 : 5
item1 : 7 / item2 : 6
item1 : 7 / item2 : 7
item1 : 7 / item2 : 8
item1 : 7 / item2 : 9
item1 : 8 / item2 : 0
item1 : 8 / item2 : 1
item1 : 8 / item2 : 2
item1 : 8 / item2 : 3
item1 : 8 / item2 : 4
item1 : 8 / item2 : 5
item1 : 8 / item2 : 6
item1 : 8 / item2 : 7
item1 : 8 / item2 : 8
item1 : 8 / item2 : 9
item1 : 9 / item2 : 0
item1 : 9 / item2 : 1
item1 : 9 / item2 : 2
item1 : 9 / item2 : 3
item1 : 9 / item2 : 4
item1 : 9 / item2 : 5
item1 : 9 / item2 : 6
item1 : 9 / item2 : 7
item1 : 9 / item2 : 8
item1 : 9 / item2 : 9

In [19]:
for count in range(19):
    print('*')

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [20]:
for count in range(1, 20):
    print('*' * count)

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************

In [ ]:
F

In [22]:
BASE_COUNT = 20
START = 1
CHARACTER = '*'

for count in range(1, BASE_COUNT):
    if (count <= (BASE_COUNT / 2)):
        print(CHARACTER * count)
    else:
        print(CHARACTER * (20 - count))

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*